/*
  Omnibar search form extra field css
*/


.idx-omnibar-extra-form  .idx-omnibar-extra-button {
	width: 18% !important;
    /* float: left; */
    margin: 0 !important;
}


.idx-omnibar-extra-form .awesomplete {
	width:30% !important;
	    float: left !important;
}

.idx-omnibar-extra-form .awesomplete input {
	font-size:13px;
}

.idx-omnibar-extra-form .idx-omnibar-extra {
	width:13% !important;
	    float: left !important;
	position:relative;
}
.idx-omnibar-extra-form .idx-omnibar-extra input {
	border-radius:0;
}

.idx-omnibar-extra-form .idx-omnibar-extra label {
	position: absolute;
    font-size: 13px;
    font-weight: 400;
    color: #7f7f7f;
    margin: 0;
    padding: 0;
    margin-left: 11px;
    line-height: 1em;
    margin-top: 9px;
}

.idx-omnibar-extra-form .idx-omnibar-extra input {
	font-size: 13px;
    padding-top: 24px;
    padding-bottom: 3px;
}














/*
  Omnibar search form css
*/
.idx-omnibar-form input, input[type=text].idx-omnibar-input {
    border: 1px solid #dce0e0;
    border-radius: 4px 0 0 4px;
    padding: 7px 12px;
    height: 48px !important;
}
.idx-omnibar-form button {
    height: 48px !important;
    border-radius: 0px 4px 4px 0px;
    background: #c5a95e;
    color: #fff;
    border: 0;
}








/*
  Impress Property Carousel image height.
*/
.impress-carousel-property .impress-carousel-photo img {
    height:230px;
	border-radius:4px 4px 0 0;
}

.impress-carousel img {
  margin-bottom: 0px !important;
}

.impress-carousel-photo {
	position:relative;
}

.impress-carousel span.impress-price {
    font-size: 24px;
    margin-bottom: 0 !important;
	position:absolute;
	top:7px;
	right:15px;
	color:#fff;
	text-shadow:1px 1px 0px #000;
	font-size:16px !important;
	font-weight:400;
}

.impress-carousel span.impress-street, .impress-carousel .impress-address span {
    display: inline-block !important;
	font-size:16px;
	font-weight:400;
}
.impress-carousel .impress-address {
	line-height:1.7em;
	background:#fff;
	margin:0;
	padding:15px 15px 0 15px;
}

.impress-carousel .impress-beds-baths-sqft {
	background:#fff;
	margin:0;
	padding:15px;
	padding-top:5px;
	padding-bottom:20px;
	line-height:1.6em;
	border-radius: 0 0 4px 4px;
}
.impress-carousel .impress-beds-baths-sqft span {
	font-size:12px !important;
}







/*
  IDXBroker other page color
*/

#IDX-detailsAddress {
	font-weight: 500 !important;
    color: #c5a95e !important;
	    font-size: 27px !important;
	    margin-bottom: 22px !important;
}
#IDX-detailsAddress a {
	color: #000 !important;
}


.IDX-wrapper-standard .IDX-panel-default>.IDX-panel-heading {
    color: #fff !important;
    background-color: #c5a95e !important;
    border-color: #c5a95e !important;
}


.IDX-wrapper-standard .IDX-btn-default {
    color: #fff !important;
    background-color: #252524 !important;
}


.IDX-wrapper-standard .IDX-resultsAddress a {
    font-weight: 500 !important;
    color: #c5a95e !important;
	    font-size: 23px !important;
}


.IDX-wrapper-standard #IDX-saveSearch, .IDX-wrapper-standard #IDX-newSearch, .IDX-wrapper-standard #IDX-refineSearchFormToggle {
    background-color: #252524 !important;
    color: #fff !important;
}


.IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default .IDX-navbar-collapse, .IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default {
	background-color: #252524 !important;
}

.IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a, .IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default .IDX-navbar-nav > li > a {
	color:#fff !important;
}

.IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a, .IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-navbar-default .IDX-navbar-nav > li > a:hover {
	background:#c5a95e !important;
}


.IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-btn-primary:focus, .IDX-wrapper-standard .IDX-mobileFirst--neutral .IDX-btn-primary:hover, #IDX-formSubmit, #IDX-resultsRefineSubmit, .IDX-wrapper-standard .IDX-btn-default:active, .IDX-wrapper-standard .IDX-btn-default:focus, .IDX-wrapper-standard .IDX-btn-default:hover, #IDX-modifySearch, #IDX-submitBtn {
	background:#c5a95e !important;
    border-color: #c5a95e;
	color: #fff !important;
}

.IDX-wrapper-standard #IDX-formReset:hover, .IDX-wrapper-standard #IDX-formReset:focus, #IDX-formReset {
	background:#252524 !important;
	border: 1px solid #252524 !important;
    color: #fff !important;
}
